#root {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;
}

.apptasks{

}

.tasklist ul {
list-style-type: none;
text-align: left;
margin-left: 20px;
}
